*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul, ol{
    list-style: none;
    margin: 0;
    padding: 0;
}
a{
    display: inline-block;
    text-decoration: none;
}
h1,h2,h3,h4,h5,h6,p{
    margin: 0;
}
.container{
    width: 1170px;
    margin: 0 auto;
}
/* navbar part start */
nav{
    width: 100%;
    background-color: transparent;
    padding: 20px 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
}
nav .nav-main{
    display: flex;
}
nav .logo{
    width: 270px;
}
nav .menu{
    width: 900px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
nav .menu ul li{
    display: inline-block;
    padding-left: 29px;
}
nav .menu ul li a{
    font-size: 14px;
    font-weight: 300;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    transition: all linear .2s;
    position: relative;
}
nav .menu ul li a:hover{
    color: #c7b299;
}
nav .menu ul li a::after{
    width: 0%;
    height: 2px;
    background-color: #c7b299;
    position: absolute;
    bottom: -15px;
    left: 0;
    content: "";
    border-radius: 3px;
    transition: all linear .2s;
}
nav .menu ul li a:hover:after{
    width: 100%;
}
nav .menu ul li a::before{
    width: 0%;
    height: 2px;
    background-color: #c7b299;
    position: absolute;
    bottom: -20px;
    left: 0;
    content: "";
    border-radius: 3px;
    transition: all linear .4s;
}
nav .menu ul li a:hover::before{
    width: 90%;
}
/* navbar part end  */
/* banner part start */
#banner{
    background: url(../images/banner.png) no-repeat center;
    background-size: cover;
    height: 100vh;
}
.banner-main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.banner-main .text{
    text-align: center;
}
.banner-main .text h3{
    font-size: 36px;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    color: #fff;
}
.banner-main .text h1{
    font-size: 52px;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    color: #fff;
    text-transform: capitalize;
    padding-top: 5px;
    padding-bottom: 20px;
}
.banner-main .text p{
    font-size: 16px;
    font-weight: 300;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    line-height: 24px;
    max-width: 569px;
    padding-bottom: 52px;
}
.banner-main .text a{
    font-size: 14px;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    color: #fff;
    text-transform: uppercase;
    background-color: #998675;
    padding: 21px 37px;
    border-radius: 5px;
    border-bottom: 3px solid #736357;
}
/* banner part end  */
/* service part start */
#service{
    padding-top: 80px;
}
#service .main{
    display: flex;
    justify-content: space-between;
}
#service .item{
    width: 23%;
    text-align: center;
}
#service .item i{
    font-size: 50px;
    color: #555555;
    transition: all linear .3s;
}
#service .item h3{
    font-size: 22px;
    color: #555555;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    padding-top: 25px;
    padding-bottom: 15px;
}
#service .item p{
    font-size: 14px;
    color: #8c8c8c;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    line-height: 24px;
    position: relative;
}
#service .item p::after{
    width: 70px;
    height: 3px;
    background-color: #f1eee9;
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);
    content: "";
    transition: all linear .3s;
}
#service .item:hover i{
    color: #c7b299;
}
#service .item:hover p::after{
    background-color: #c7b299;
}
/* service part end  */
/* project part start  */
#project{
    padding-top: 80px;
}
#project .title{
    text-align: center;
}
#project .title h2{
    font-size: 30px;
    color: #555555;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
}
#project .title p{
    font-size: 16px;
    color: #8c8c8c;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    line-height: 26px;
    padding-top: 16px;
    width: 780px;
    margin: 0 auto;
}
#project .button{
    padding-top: 40px;
    text-align: center;
}
#project .button ul li{
    display: inline-block;
    font-size: 14px;
    color: #8c8c8c;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    text-transform: capitalize;
    border: 1px solid #ebebeb;
    padding: 8px 20px;
    margin: 0 4px;
    transition: all linear .3s;
    border-radius: 3px;
}
#project .button ul li:hover{
    background-color: #998675;
    border-color: #998675;
    color: #fff;
    cursor: pointer;
}
#project .main{
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
    flex-wrap: wrap;
}
#project .item{
    width: 370px;
}
#project .item img{
    display: block;
}
#project .item .img{
    position: relative;
}
#project .item .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(17, 17, 17, .7);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all linear .3s;
    opacity: 0;
    transform: scale(0);
}
#project .item i{
    font-size: 25px;
    color: #fff;
    transition: all linear .3s;
    margin: 0 14px;
}
#project .item i:hover{
    color: #c7b299;
}
#project .item.mt{
    margin-top: 30px;
}
#project .item .text{
    background-color: #fbfaf8;
    padding: 30px;
    transition: all linear .3s;
}
#project .item .text h3{
    font-size: 20px;
    color: #c7b299;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    transition: all linear .3s;
}
#project .item .text p{
    font-size: 14px;
    color: #d1d1d1;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    padding-top: 7px;
    transition: all linear .3s;
}
#project .item:hover .overlay{
    opacity: 1;
    transform: scale(1);
}
#project .item:hover .text{
    background-color: #362f2d;
}
#project .item:hover .text h3{
    color: #fff;
}
#project .item:hover .text p{
    color: #998675;
}
#project .load-more{
    text-align: center;
    padding-top: 40px;
}
#project .load-more a{
    font-size: 14px;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    color: #fff;
    text-transform: uppercase;
    background-color: #998675;
    padding: 17px 42px;
    border-radius: 5px;
    border-bottom: 3px solid #736357;
}
/* project part end  */
/* video part start */
#video{
    padding-top: 80px;
}
.video-bg{
    background: url(../images/video.png) no-repeat center;
    background-size: cover;
}
.video-bg .overlay{
    width: 100%;
    height: 100%;
    background-color: rgba(17, 17, 17, .4);
    padding: 210px 0 255px;
}
.video-bg .content{
    text-align: center;
}
.video-bg .content p{
    font-size: 16px;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    line-height: 26px;
    width: 580px;
    margin: 0 auto;
    padding-top: 18px;
}
.video-bg .content h3{
    font-size: 30px;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    color: #fff;
}
.video-bg .content i{
    width: 90px;
    height: 90px;
    background-color: rgba(17, 17, 17, .2);
    border-radius: 50%;
    display: inline-block;
}
.video-bg .content i img{
    margin: 9px;
}
/* video part end  */
/* counter part start */
#counter{
    width: 100%;
    background-image: linear-gradient(to right, #211b19 , #4e3427);
    padding: 70px 0;
}
#counter .item{
    width: 20%;
    text-align: center;
}
#counter .main{
    display: flex;
}
#counter .item h3{
    font-size: 48px;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    padding-top: 15px;
    padding-bottom: 8px;
}
#counter .item p{
    font-size: 14px;
    color: #c7b299;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
}
/* counter part end  */
/* post part start */
#post{
    padding-top: 80px;
}
#post .title{
    text-align: center;
}
#post .title h2{
    font-size: 30px;
    color: #555555;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
}
#post .title p{
    font-size: 16px;
    color: #8c8c8c;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    line-height: 26px;
    padding-top: 16px;
    width: 780px;
    margin: 0 auto;
}
#post .main{
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
    flex-wrap: wrap;
}
#post .item{
    width: 370px;
    border: 1px solid #f8f8f8;
}
#post .item img{
    display: block;
}
#post .item .img{
    position: relative;
}
#post .item .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(17, 17, 17, .7);
    transition: all linear .3s;
    opacity: 0;
}
#post .item .date-time{
    width: 50px;
    margin: 20px 0 0 20px;
}
#post .item .date-time h4{
    font-size: 24px;
    font-weight: 300;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    background-color: #363636;
    padding: 5px 0;
    transition: all linear .3s;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
#post .item:hover .date-time h4{
    background-color: #c7b299;
}
#post .item .date-time p{
    font-size: 12px;
    font-weight: 400;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    background-color: #252525;
    padding: 7px 0;
    transition: all linear .3s;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}
#post .item:hover .date-time p{
    background-color: #a48d72;
}
#post .item a{
    font-size: 14px;
    color: #c7b299;
    font-family: 'Montserrat', sans-serif;
    transition: all linear .3s;
    padding-top: 20px;
}
#post .item i{
    padding-left: 5px;
}
#post .item{
    margin-top: 30px;
}
#post .item .text{
    background-color: transparent;
    padding: 30px;
    transition: all linear .3s;
}
#post .item .text h3{
    font-size: 20px;
    color: #555555;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    transition: all linear .3s;
}
#post .item .text p{
    font-size: 14px;
    color: #8c8c8c;
    font-family: 'Montserrat', sans-serif;
    line-height: 24px;
    font-weight: 300;
    padding-top: 7px;
    transition: all linear .3s;
}
#post .item:hover .overlay{
    opacity: 1;
}
#post .item:hover .text{
    background-color: #362f2d;
}
#post .item:hover .text h3{
    color: #c7b299;
}
#post .item:hover .text p{
    color: #fff;
}
/* post part end  */
/* footer part start  */
#footer{
    padding-top: 80px;
}
.footer-bg{
    padding: 80px 0;
    background-color: #191919;
}
.footer-bg  .main{
    display: flex;
    justify-content: space-between;
}
.footer-bg .logo{
    width: 261px;
}
.footer-bg .logo p{
    font-size: 14px;
    color: #555555;
    font-family: 'Montserrat', sans-serif;
    line-height: 24px;
    font-weight: 300;
    padding: 24px 0 22px;
}
.footer-bg .logo a{
    font-size: 14px;
    color: #d1d1d1;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}
.footer-bg .logo a i{
    padding-left: 5px;
}
.footer-bg .post{
    width: 260px;
}
.footer-bg .post h3{
    font-size: 24px;
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    padding-top: 25px;
    padding-bottom: 30px;
}
.footer-bg .post ul li{
    font-size: 12px;
    color: #363636;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    transition: all linear .3s;
}
.footer-bg .post ul:hover li{
    color: #fff;
}
.footer-bg .post ul:hover li.details{
    color: #c7b299;
}
.footer-bg .post ul li.details{
    font-size: 14px;
    color: #555;
    padding-top: 5px;
    line-height: 24px;
    transition: all linear .3s;
    padding-bottom: 15px;
}
.footer-bg .post ul{
    border-bottom: 3px solid #252525;
}
.footer-bg .post ul.no-border{
    border-bottom: none;
}
.footer-bg .post ul.pt{
    padding-top: 15px;
}
.footer-bg .twitter{
    width: 270px;
}
.footer-bg .twitter h3{
    font-size: 24px;
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    padding-top: 25px;
    padding-bottom: 30px;
}
.footer-bg .twitter ul li{
    font-size: 12px;
    color: #363636;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    transition: all linear .3s;
}
.footer-bg .twitter ul li.details{
    font-size: 14px;
    color: #555;
    padding-top: 5px;
    line-height: 24px;
    transition: all linear .3s;
}
.footer-bg .twitter ul{
    border-bottom: 3px solid #252525;
}
.footer-bg .twitter ul.no-border{
    border-bottom: none;
}
.footer-bg .twitter ul.pt{
    padding-top: 15px;
}
.footer-bg .twitter ul li.pb{
    padding-bottom: 15px;
}
.footer-bg .twitter ul li:last-child{
    padding-top: 5px;
}
.footer-bg .twitter ul li span{
    color: #00bff3;
}
.footer-bg .twitter ul li .bitly{
    color: #959595;
}
.footer-bg .dribble{
    width: 270px;
}
.footer-bg .dribble h3{
    font-size: 24px;
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    padding-top: 25px;
    padding-bottom: 30px;
}
.footer-bg .dribble ul li{
    display: inline-block;
}
.footer-bg .dribble ul li.pl{
    padding-left: 6px;
}
.footer-bg .dribble ul li.pt{
    padding-top: 8px;
}
/* footer part end  */
/* footer btm part start */
#footer-btm{
    padding: 40px 0;
    background-color: #111111;
}
#footer-btm .main{
    display: flex;
}
#footer-btm .left{
    width: 50%;
}
#footer-btm .left ul li{
    font-size: 14px;
    color: #555;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    display: inline-block;
    padding-right: 26px;
    position: relative;
}
#footer-btm .left ul li::after{
    width: 1px;
    height: 12px;
    background-color: #252525;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    content: "";
    right: 9px;
}
#footer-btm .left ul li:last-child:after{
    display: none;
}
#footer-btm .left ul li.faq{
    color: #c7b299;
}
#footer-btm .left ul li span{
    color: #959595;
}
#footer-btm .right{
    width: 50%;
    text-align: right;
}
#footer-btm .right ul li{
    font-size: 14px;
    color: #555;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    display: inline-block;
    padding-left: 26px;
    position: relative;
}
#footer-btm .right ul li::after{
    width: 1px;
    height: 12px;
    background-color: #252525;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    content: "";
    right: -16px;
}
#footer-btm .right ul li:last-child:after{
    display: none;
}
#footer-btm .right ul li span{
    color: #959595;
}
/* footer btm part end  */